.md-form {
    .md-row {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        &.md-row-no-label {
            flex-direction: row-reverse;
        }
        .md-form-item-label {
            flex-basis: 30%;
            text-align: right;
            padding-right: 20px;
            >label {
                margin-bottom: 0;
            }
            >label.md-form-item-required:before {
                display: inline-block;
                margin-right: 4px;
                color: $danger;
                font-size: 14px;
                font-family: SimSun, sans-serif;
                line-height: 1;
                content: "*";
            }
        }
        .md-form-item {
            flex-basis: 70%;
            position: relative;
            .md-input-wrapper {
                margin-bottom: 0;
            }
            .md-form-item-has-error.md-form-item-control {
                .md-input-inner {
                    border: 1px solid $danger;
                    &:focus {
                        box-shadow: $input-focus-box-shadow-error;
                    }
                }
            }
            .md-form-item-explain {
                position: absolute;
                bottom: -25px;
                left: 0;
                line-height: 25px;
                color: $danger;
                min-width: 100px;
            }
        }
    }
    .md-form-submit-area {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}